@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
main {
  position: relative;
}

.row,
.col {
  margin-left: 0;
  padding: 0;
}

.col-lg-4:nth-child(3n) {
  padding: 0 0 0 1.5rem;
}

.col-lg-4:nth-child(3n-1) {
  padding: 0 1rem 0 1rem;
}

.col-lg-4:nth-child(3n-2) {
  padding: 0 1.5rem 0 0;
}

.col-md-6:nth-child(2n) {
  padding: 0 0 0 1.5rem;
}

.col-md-6:nth-child(2n-1) {
  padding: 0 1.5rem 0 0;
}

.col-12:nth-child(2n) {
  padding: 0 1.5rem 0 0;
}

.card-body {
  background-color: #E7E7E7;
}

.card-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.rName {
  width: 70%;
  position: absollute;
  left: 0;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rTime {
  position: absollute;
  right: 0;
  text-align: right;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.3rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 175px;
}

.ingList {
  width: 50%;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.9rem;
  display: flex;
  flex-direction: column;
}
.ingList > span {
  padding-left: 1rem;
}

.descRecipe {
  width: 50%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 400;
  padding-right: 1rem;
  text-align: justify;
}

.listRecipes {
  position: absolute;
  top: 6rem;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.search {
  height: 4.3rem;
  border-radius: 0.3rem;
  border: none;
  background-color: #E7E7E7;
}

#searchInput {
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-search {
  font-size: 2rem;
  position: absolute;
  right: 1.2rem;
}

.filterBtn {
  z-index: 1;
}

.btn-primary, .btn-success, .btn-danger {
  float: left;
  position: relative;
  width: 10.625rem;
  font-weight: 700;
  font-size: 1.125rem;
  outline: none;
  border: none;
  text-align: left;
}

.fa-chevron-down, .fa-chevron-up {
  position: absolute;
  right: 1rem;
  top: 1.7rem;
}

#btnUpIng, #btnUpApp, #btnUpUst {
  display: none;
}

#btnDownIng, #btnDownApp, #btnDownUst {
  display: block;
}

.searchFilter, .searchFilter:focus {
  background-color: transparent;
  outline: none;
  border: none;
  color: #FFFF;
  font-weight: 700;
  font-size: 1.125rem;
  padding-left: 0;
  overflow: auto;
}
#searchIng::placeholder, #searchApp::placeholder, #searchUst::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 1.125rem;
}

.b-SearchIng, .b-SearchApp, .b-SearchUst {
  display: none;
}

.listIng, .listApp, .listUst {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 0.8rem;
  overflow: hidden;
  background-color: transparent;
  min-height: max-content;
  max-height: 300px;
}
.listIng > span, .listApp > span, .listUst > span {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.tagSelected {
  display: block;
  max-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 5px;
  color: #FFF;
}
.tagSelected .fa-times-circle {
  font-size: 1.25rem;
  padding-left: 1rem;
  margin-top: -0.2rem;
}

.color-ing {
  background-color: #0074F0;
}

.color-app {
  background-color: #28A745;
}

.color-ust {
  background-color: #DC3545;
}

/*# sourceMappingURL=style.css.map */
