.btn {       
        width: 10.625rem;
        font-weight: 700;
        font-size: 1.125rem;
        outline: none;
        border: none;
        text-align: left;
        position: relative;
}

.fa-chevron-down {
        position: absolute;
        right: 1rem;
        top: 2rem;
}