.filterBtn {
        z-index: 1;
}

.btn-primary, .btn-success, .btn-danger {
        float: left;
        position: relative;
        width: 10.625rem;
        font-weight: 700;
        font-size: 1.125rem;
        outline: none;
        border: none;
        text-align: left;
}

.fa-chevron-down, .fa-chevron-up {
        position: absolute;
        right: 1rem;
        top: 1.7rem;
}

#btnUpIng, #btnUpApp, #btnUpUst {
        display: none;
}

#btnDownIng, #btnDownApp, #btnDownUst {
        display: block;
}

.searchFilter {
        background-color: transparent;
        outline: none;
        border: none;
        color: #FFFF;
        font-weight: 700;
        font-size: 1.125rem;
        padding-left: 0;
        overflow: auto;
        &:focus {
                @extend .searchFilter;
        }          
}

#searchIng::placeholder,#searchApp::placeholder,#searchUst::placeholder {
        color: rgba(255,255,255,0.5);
        font-weight: 700;
        font-size: 1.125rem;
}

.b-SearchIng, .b-SearchApp, .b-SearchUst {
        display: none;
}

.listIng, .listApp, .listUst {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-gap: 0.8rem;
        overflow: hidden;
        background-color: transparent;
        min-height: max-content;
        max-height: 300px;
        & > span {
                font-weight: 400;
                font-size: 1.125rem;
                line-height: 1.35rem;
        }
}



.tagSelected {
        display: block;
        max-width: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem;
        line-height: 1rem;
        font-size: 0.875rem;
        font-weight: 700;
        border-radius: 5px;
        color: #FFF;
        & .fa-times-circle {
                font-size: 1.25rem;
                padding-left: 1rem;
                margin-top: -0.2rem;
                
        }
}

.color-ing {
        background-color: $col-boot-primary;
}

.color-app {
        background-color: $col-boot-success;
}


.color-ust {
        background-color: $col-boot-danger;
}