.search {
    height: 4.3rem;
    border-radius: 0.3rem;
    border: none;
    background-color: $search-bg;
}

#searchInput {
    background-color: transparent;
    border-color: $search-bg;
    outline: none;
    font-size: 1.12è5rem;
    font-weight: 400;
}

.fa-search {
    font-size: 2rem; 
    position: absolute;
    right: 1.2rem;
}