
$search-bg: #E7E7E7;
$col-boot-primary:#0074F0;
$col-boot-success:#28A745;
$col-boot-danger: #DC3545;

$breakpoints: (
    min-mobile:300px,
    mobile: 432px,
    tablet: 1024px,
    desktop: 1025px
);